/*color palette*/
    :root {
        --teal: #007d7b;
        --black: #000000;
        --white: #ffffff;
        /*--fonts: Arial, Helvetica, sans-serif;*/
    }
/**/

/*typography*/
    html {
        font-family: Arial, Helvetica, sans-serif;
    }
/**/
/*font sizes*/
    p {
        font-size: 1.25em;
    }
    figcaption, label, input, small {
        font-size: 1em;
    }
    nav a {
        font-size: 1.5em;
    }
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2em;
    }
/**/
html {
    background-color: var(--black);
}
body {
    background-color: var(--white);
    margin: 0 auto;
    width: 485px;
    max-width: 485px;
}


h1 {
    color: var(--teal);
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
nav, #survey, footer {
    background-color: var(--black);
    color: var(--white);
}
nav{
    padding-block: 1em;
}
nav ul {
    display: flex;
    padding-inline-start: 0px;
    justify-content: space-evenly;
}
nav li {
    list-style-type: none;
}
nav li a {
    text-decoration: none;
    color: var(--white);
    text-transform: uppercase;
    font-weight: bold;

}


h2 {
    text-align: center;
    text-transform: uppercase;
    margin-block: .42em 0;
    font-weight: bold;
}
main p {
    margin-inline: 10px;
    margin-block: 1em .5em;
}


#gallery {
    display: grid;
    grid-template-columns: 1fr;
    margin-block-end: 0.83em;
}
figure {
    position: relative;
    margin: 0 auto;
}
figcaption {
    display: block;
    width: 420px;
    text-align: center;
    position: absolute;
    top: 20px;
    text-transform: uppercase;
}
.light {
    color: var(--white);
}
.bottom {
    top: auto;
    bottom: 20px;
    z-index: 1;
}
#gallery div {
    position: relative;
    margin: 0 auto;
}


#survey h2 {
    padding-block-start: 0.83em;
    margin-block: 0 0.83em;
}
#survey p {
    text-align: center;
}
#survey p + p {
    visibility:hidden;
    line-height: 0;
}
form {
    display: block;
    width: 420px;
    margin: 0 auto;
}
form label{
    display: block;
    margin-inline-start: 10px;
    margin-top: 1em;
    text-transform: uppercase;
}
input {
    padding: 5px 0;
    width: 420px;
    margin: 0 auto;
}
input::placeholder {
    text-transform: uppercase;
    color: var(--teal);
    font-weight: bold;
    padding-left: 10px;
}
form input[type="submit"] {
    display: block;
    background-color: var(--teal);
    width: 200px;
    border-radius: 12px;
    padding: .5em;
    margin-top: 1em;
    color: var(--white);
    font-weight: bold;
    text-transform: uppercase;
    border: none;
}


footer p {
    margin: 0 auto;
    padding-top: 2em;
    text-align: center;
}
nav li:last-of-type {
    position: fixed;
    top: 94%;
    left: 96%;
    padding: .25em;
    border: 3px solid var(--white);
}

@media screen and (min-width: 880px) {
    body {
        width: 880px;
        max-width: 880px;
    }
    h1 {
        text-align: left;
        margin-inline-start: 10px;
    }
    nav ul{
        justify-content: center;
        gap: 2em;
    }

    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: .5em;
    }
    #gallery h2, p{
        grid-column: 1/3;
    }

    form {
        width: 700px;
    }
    input {
        width: 700px;
    }
    form input[type="submit"] {
        width: 350px;
    }
}
@media screen and (min-width: 1300px) {
    body {
        width: 1300px;
        max-width: 1300px;
    }
    nav ul{
        justify-content: right;
        margin-inline-end: 10px;
    }

    #gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: .5em;
    }
    #gallery h2, p{
        grid-column: 1/4;
    }
    form {
        width: 1050px;
    }
    input {
        width: 1050px;
    }
    form input[type="submit"] {
        width: 625px;
    }
    figure div {
        position: relative;
    }
}